## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [14]:
# Your code here

sample_list_1 =random.sample(range(0,100), 80)
print(sample_list_1)

[99, 52, 86, 30, 25, 14, 79, 12, 5, 20, 41, 1, 2, 39, 46, 55, 85, 81, 0, 4, 22, 69, 89, 49, 90, 24, 57, 54, 60, 74, 75, 18, 73, 98, 37, 40, 94, 26, 87, 51, 76, 38, 96, 71, 21, 16, 77, 3, 80, 32, 78, 88, 42, 45, 27, 36, 11, 50, 68, 6, 61, 31, 15, 97, 44, 95, 67, 92, 33, 66, 13, 53, 23, 29, 9, 48, 28, 72, 8, 56]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [16]:
# Your code here
set1=set(sample_list_1)

print(set1)
print(len(set1))

{0, 1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 60, 61, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 85, 86, 87, 88, 89, 90, 92, 94, 95, 96, 97, 98, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [20]:
# Your code here
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)
len(sample_list_2)

[66, 79, 33, 68, 56, 100, 30, 95, 82, 87, 16, 91, 19, 59, 35, 62, 3, 13, 53, 23, 12, 22, 42, 99, 79, 88, 80, 16, 39, 33, 64, 94, 63, 48, 47, 42, 79, 74, 38, 96, 99, 18, 45, 76, 29, 5, 28, 15, 20, 59, 60, 1, 93, 3, 59, 50, 6, 52, 86, 68, 91, 1, 80, 46, 52, 65, 80, 57, 83, 99, 23, 62, 75, 97, 65, 98, 84, 75, 81, 92]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [21]:
# Your code here - no not still 80
set2=set(sample_list_2)
print(len(set2))

60

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [23]:
# Your code here

# identify elements in set 1 but not in set2
unique_elements = []
for element in set1:
    if element not in set2:
        unique_elements.append(element)
    
# assign those elements to new list

set3=set(unique_elements)
print(set3)

{0, 2, 4, 8, 9, 11, 14, 21, 24, 25, 26, 27, 31, 32, 36, 37, 40, 41, 44, 49, 51, 54, 55, 61, 67, 69, 71, 72, 73, 77, 78, 85, 89, 90}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [24]:
# Your code here
# identify elements in set 1 but not in set2
# assign those elements to new list

unique_elements = []
for element in set2:
    if element not in set1:
        unique_elements.append(element)
    


set4=set(unique_elements)
print(set4)

{64, 65, 35, 100, 91, 47, 82, 19, 83, 84, 59, 93, 62, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [28]:
# Your code here
# identify elements from set 1 in set 2
#identify elements from set2 that are in set 1
# assign those elements to new list
# assign to set which will remove duplictes

same_elements = []

for element in set1:
    if element in set2:
        same_elements.append(element)

for element in set2:
    if element in set1:
        same_elements.append(element)
    


set5=set(same_elements)
print(set4)

{64, 65, 35, 100, 91, 47, 82, 19, 83, 84, 59, 93, 62, 63}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [35]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

#len(set1)>len(set2)>len(set3)>len(set4)<len(set5)

len(set1)> len(set2) and len(set2)> len(set3) and len(set3)> len(set4) and len(set5)> len(set4)

80
60
34
14
46

True

#### Create an empty set called `set6`.

In [44]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [46]:
# Your code here
set6.update(set3)
set6.update(set5)
set6.update(set6)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 60, 61, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 85, 86, 87, 88, 89, 90, 92, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [47]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [50]:
# Your code here
set2.issubset(set1)
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [53]:
# Your code here
set.union(set3,set4,set5)==set.union(set1,set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [57]:
# Your code here (ran twice thus 0 and 1 removed)
set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [59]:
# Your code here
#define list
# loop through list to check if elelment in set 1
# if in set 1 then remove with set1.remove(element)
#print set1
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
    if element in set1:
        set1.remove(element)
        
print(set1)

{2, 3, 4, 5, 6, 8, 12, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 36, 37, 38, 40, 42, 44, 45, 46, 48, 50, 52, 53, 54, 55, 56, 57, 60, 66, 67, 68, 72, 73, 74, 75, 76, 77, 78, 80, 85, 86, 87, 88, 90, 92, 94, 95, 96, 97, 98}