In [ ]:
 # notes from lab review
 #change yes no to 1,0 using map().astype(int)

 """ 
 scale the features using standard scler

## Round 1

In [117]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import precision_score, recall_score, accuracy_score
import random

In [4]:
churn_data=pd.read_csv('DATA_Customer-Churn.txt')
churn_data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

Check the datatypes of all the columns in the data.You would see that the column TotalCharges is object type. Convert this column into numeric type using pd.to_numeric function.

In [34]:
display(churn_data.dtypes)
cols

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

['gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'TotalCharges',
 'Churn']

In [41]:
churn_data.iloc[488]
churn_data.loc[churn_data['TotalCharges']==' ', 'TotalCharges']=0
pd.to_numeric(churn_data['TotalCharges'])
churn_data['TotalCharges'].astype('float64')

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: TotalCharges, Length: 7043, dtype: float64

In [57]:
# Check for null values in the dataframe. Replace the null values.

churn_data.isnull().sum()
# no null values

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [62]:
#Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges:
#Split the data into a training set and a test set.
#Scale the features either by using MinMaxScaler or a standard scaler.
#(Optional) Encode the categorical variables so you can use them for modeling later.

X_train,  X_test, y_train, y_test= train_test_split( churn_data[['tenure', 'SeniorCitizen', 'MonthlyCharges', 'TotalCharges']],\
                                                    churn_data['Churn'], test_size=0.2, random_state=487)

scale=StandardScaler()
scale.fit(X_train)
scale_X_train=scale.transform(X_train)
scale_X_test=scale.transform(X_test)

In [87]:
#Let's convert y_train and y_test to numerci

le=LabelEncoder()
le.fit(y_train)
y_train_le=le.transform(y_train)
y_test_le=le.transform(y_test)

In [65]:
y_train_le

array([1, 1, 0, ..., 1, 0, 0])

In [54]:
cols=churn_data.select_dtypes('object').columns.to_list()
cols

['gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'TotalCharges',
 'Churn']

In [56]:

#
# Encode labels of multiple columns at once, but not working for reason i dont know, all cols seem to be objects even though TotalCarges are in ther
#
churn_data_cat = churn_data[cols].apply(LabelEncoder().fit_transform)
#
# Print head
#
churn_data_cat.head().apply(LabelEncoder().fit_transform)

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['int', 'str']

In [55]:
churn_data[cols]

,gender,Partner,Dependents,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,TotalCharges,Churn
0,Female,Yes,No,No,No,Yes,No,No,No,No,Month-to-month,29.85,No
1,Male,No,No,Yes,Yes,No,Yes,No,No,No,One year,1889.5,No
2,Male,No,No,Yes,Yes,Yes,No,No,No,No,Month-to-month,108.15,Yes
3,Male,No,No,No,Yes,No,Yes,Yes,No,No,One year,1840.75,No
4,Female,No,No,Yes,No,No,No,No,No,No,Month-to-month,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,1990.5,No
7039,Female,Yes,Yes,Yes,No,Yes,Yes,No,Yes,Yes,One year,7362.9,No
7040,Female,Yes,Yes,No,Yes,No,No,No,No,No,Month-to-month,346.45,No
7041,Male,Yes,No,Yes,No,No,No,No,No,No,Month-to-month,306.6,Yes
7042,Male,No,No,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,6844.5,No

##Round 2

(Optional) Fit a logistic Regression model on the training data.
Fit a Knn Classifier (NOT KnnRegressor please!)model on the training data.
Fit a Decision Tree Classifier on the training data.
Compare the accuracy, precision, recall for the previous models on both the train and test sets.

In [68]:
#fit log model
log_model= LogisticRegression()
log_model.fit(scale_X_train, y_train_le)
y_pred_train= log_model.predict(scale_X_train)
y_pred_test=log_model.predict(scale_X_test)

In [84]:
# fit KNN classifier
knn_model=KNeighborsClassifier()
knn_model.fit(scale_X_train, y_train_le)
y_pred_train_knn=knn_model.predict(scale_X_train)
y_pred_test_knn=knn_model.predict(scale_X_test)

c:\Users\gemma\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
c:\Users\gemma\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [83]:
tree=DecisionTreeClassifier()
tree.fit(scale_X_train, y_train_le)
y_pred_train_tree=tree.predict(scale_X_train)
y_pred_test_tree=tree.predict(scale_X_test)

In [90]:
# comparison of the precision accuracy and recall of all 3 models

performance_df = pd.DataFrame({'Error_metric': ['Accuracy','Precision','Recall'],
                               'Log model test': [accuracy_score(y_test_le, y_pred_test),
                                         precision_score(y_test_le, y_pred_test),
                                         recall_score(y_test_le, y_pred_test)], 
                                'KNN model test': [accuracy_score(y_test_le, y_pred_test_knn),
                                        precision_score(y_test_le, y_pred_test_knn),
                                        recall_score(y_test_le, y_pred_test_knn)],
                                'Tree model test': [accuracy_score(y_test_le, y_pred_test_tree),
                                        precision_score(y_test_le, y_pred_test_tree),
                                        recall_score(y_test_le, y_pred_test_tree)]})
performance_df
## KNN looks better over all when accuracy, precision and recall all taken into consideration

  Error_metric  Log model test  KNN model test  Tree model test
0     Accuracy        0.782115        0.771469         0.715401
1    Precision        0.614173        0.569132         0.451613
2       Recall        0.427397        0.484932         0.460274

Round 3

apply K-fold cross validation on your models built before,  and check the model score. Note: So far we have not balanced the data.

In [95]:
#check balance
churn_data['Churn'].value_counts()
#upsampling 
from imblearn.over_sampling import SMOTE
sm=SMOTE()

In [101]:
X_sm, y_sm = sm.fit_resample(scale_X_train, y_train_le)

np.unique(y_sm,return_counts=True)

(array([0, 1]), array([4130, 4130], dtype=int64))

In [113]:
#DOWN SAMPLING
cat_1=y_train_le[y_train_le==1]
cat_0=y_train_le[y_train_le==0]

display(len(cat_1))
len(cat_0)

1504

4130

In [122]:
# want to downsample the cat_0 as there are more in that category
cat_0_down = np.random.choice(cat_0, len(cat_1), replace=False)
print(len(cat_0_down))
print(len(cat_1))

1504
1504

Round 4

fit a Random forest Classifier on the data and compare the accuracy.
tune the hyper parameters with Gridsearch and check the results. retrain the final mode with the best parameters found.
Managing imbalance in the dataset

Check for the imbalance.
Use the resampling strategies used in class for upsampling and downsampling to create a balance between the two classes.
Each time fit the model and check the accuracy of the model.