# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [126]:
# import numpy and pandas
import numpy as np 
import pandas as pd
import scipy
from scipy.stats import t

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [127]:
# Your code here:
df=pd.read_csv('Employees_advanced.csv')

Examine the `salaries` dataset using the `head` function below.

In [115]:
# Your code here:
df.head(5)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [68]:
# Your code here:
df.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [69]:
# Your code here:
df.groupby('Salary or Hourly').count()

,Name,Job Titles,Department,Full or Part-Time,Typical Hours,Annual Salary,Hourly Rate
Salary or Hourly,,,,,,,
Hourly,8022,8022,8022,8022,8022,0,8022
Salary,25161,25161,25161,25161,0,25161,0

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [70]:
# Your code here:

df.groupby('Department')['Name'].count()

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [86]:
# Your code here:

# make array of hourly workers hourly wage
mean=30
CI=0.95 
alpha=0.05
hourly_df=df.loc[df['Salary or Hourly']=='Hourly','Hourly Rate']

hourly_df=hourly_df.tolist()

#H0= average hourly rate = 30$per hour
#H1: average hourly rate != 30$per hour

t_statistic, p_value=scipy.stats.mstats.ttest_1samp(hourly_df,mean,alternative='two-sided')

print(f'p-val= {p_value}, and t-stat= {t_statistic}')

if p_value < 0.05: # i.e. 95% CI
    print("Reject the null hypothesis. The mean of the sample is not equal to the population mean.")
else:
    print("Fail to reject the null hypothesis. The mean of the sample is equal to the population mean.")

p-val= 4.3230240486229894e-92, and t-stat= 20.6198057854942
Reject the null hypothesis. The mean of the sample is not equal to the population mean.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [72]:
# Your code here:
# t test as dont know population SD
mean= 86000
P_val=0.05 # i.e. 95% CI
salary_df=df.loc[df['Salary or Hourly']=='Salary','Annual Salary']

#H0: salary = 86000
#H1: salary > 86000

t_statistic, p_value=scipy.stats.mstats.ttest_1samp(salary_df,mean,alternative='greater')

print(f'p-val= {p_value}, and t-stat= {t_statistic}')

if p_value < 0.05: # i.e. 95% CI
    print("Reject the null hypothesis. The mean of the sample is not equal to the population mean.")
else:
    print("Fail to reject the null hypothesis. The mean of the sample is equal to the population mean, the salary is greater than the mean.")

p-val= 1.507879259958193e-09, and t-stat= 5.932870515690814
Reject the null hypothesis. The mean of the sample is not equal to the population mean.

Using the `crosstab` function, find the department that has the most hourly workers.

In [73]:
# Your code here:
df_dept=pd.crosstab(index=df['Department'], columns=df['Salary or Hourly']).sort_values('Hourly', ascending=False)
df_dept.head(1)
#streets & San

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [74]:
# Your code here:
# H0= hourly rate = 35 per hour
# H1 : hourly rate < 35 per hour

mean=35

# create array of streets and san hourly wage

StSan_df=df.loc[(df['Salary or Hourly']=='Hourly') & (df['Department']=='STREETS & SAN'),'Hourly Rate']


t_statistic, p_value=scipy.stats.mstats.ttest_1samp(StSan_df,mean,alternative='less')

print(f'p-val= {p_value}, and t-stat= {t_statistic}')

if p_value < 0.05: # i.e. 95% CI
    print("Reject the null hypothesis. The mean of the sample is not equal to the population mean. the salary is less than the mean")
else:
    print("Fail to reject the null hypothesis. The mean of the sample is equal to the population mean.")

p-val= 1.6689265282353859e-21, and t-stat= -9.567447887848152
Reject the null hypothesis. The mean of the sample is not equal to the population mean. the salary is less than the mean

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [122]:
# Your code here:
#create array of all hourly workers
#count number of values
df_hourly=df.loc[df['Salary or Hourly']=='Hourly','Hourly Rate']
mean_hourly=df_hourly.mean()
se=scipy.stats.sem(df_hourly)

CI=0.95
df = len(df_hourly)-1
ci_low, ci_high =t.interval(CI,df, loc=mean_hourly, scale= se)
print(f'confidence interval for hourly rates {ci_low:.2f} {ci_high:.2f}')

confidence interval for hourly rates 32.52 33.05

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [116]:
# Your code here:

df_salary_police=df.loc[(df['Salary or Hourly']=='Salary') & (df['Department']=='POLICE'),'Annual Salary']
df_salary_police

0        101442.0
1         94122.0
9         93354.0
11        84054.0
12        87006.0
           ...
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
Name: Annual Salary, Length: 13404, dtype: float64

In [118]:
mean_police_sal=df_salary_police.mean()
se=scipy.stats.sem(df_salary_police)

CI=0.95
df = len(df_salary_police)-1
ci_low, ci_high =t.interval(CI,df, loc=mean_police_sal, scale= se)
print(f'confidence interval for hourly rates {ci_low:.2f} {ci_high:.2f}')

confidence interval for hourly rates 86177.06 86795.77

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [143]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest
# H0 hourly works = 25 % of all workers
# H1 hourly workers != 25%
contract_type =df['Salary or Hourly'].value_counts()
hourly_count=contract_type[1]
total_obs= contract_type[1] + contract_type[0]

z_stat, p_value= stats.proportion.proportions_ztest(hourly_count, total_obs,0.25)

print(f' the z-stat is {z_stat:.2f} and the P value is {p_value:.4f}')
if p_value < 0.05: # i.e. 95% CI
    print("Reject the null hypothesis. The propostion of sample is not equal to the proposed proportion of 25%. ")
else:
    print("Fail to reject the null hypothesis. The proportion of the sample is equal to the proposed proportion.")

 the z-stat is -3.51 and the P value is 0.0004
Reject the null hypothesis. The propostion of sample is not equal to the proposed proportion of 25%.